html { 
  /*background: url('./assets/background.png') no-repeat center center fixed;*/
    background: url('https://github.com/Thinkful-Ed/js-dev-final-capstone-starter/blob/main/assets/background.png?raw=true') no-repeat center center fixed;
    box-sizing: border-box;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index:0;
    overflow: hidden;
    cursor: url('../assets/hammer.png'), auto;
  }
  
  body { 
    padding: 50px;
    margin: -50 auto 0 auto;
    background-image: url('path-to-your-image.jpg');
  }


  h1 {
    text-align: center;
    font-size: 90px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: white;
    -webkit-text-stroke: 2px rgb(247, 219, 7);
  }
  
  h2 {
    text-align: center;
    font-size: 40px;
    color: white;
    -webkit-text-stroke: 1px black;
  }
  
  #start {
      text-align: center;
      font-size: 30px;
  }
  
  #timer{
      color: white;
  }
  
  .grid {
    width: 600px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    margin: -50 auto 0 auto;
    /*cursor: url('./assets/mallet.png'), pointer;*/
  }
  
  .hole {
    flex: 1 0 33.33%;
    overflow: hidden;
    position: relative;
  }
  
  .hole:after {
    display: block;
    /*background: url("./assets/hole.png") bottom center no-repeat;*/
    background: url("https://github.com/Thinkful-Ed/js-dev-final-capstone-starter/blob/main/assets/hole.png?raw=true") bottom center no-repeat;
    background-size:contain;
    content:'';
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -40%;
    z-index: 2;
    pointer-events:none;
  }
  
  .mole {
    /*background:url('./assets/mole.png') bottom center no-repeat;*/
    background:url('https://github.com/Thinkful-Ed/js-dev-final-capstone-starter/blob/main/assets/mole.png?raw=true') bottom center no-repeat;
    background-size: 40%;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    /*transition: transform 0.5s;*/
    transition: all 1s;
    pointer-events:auto;
  }
  
  
  
  #difficulty-buttons .selected {
  background-color: indianred;
  color: whitesmoke;
  };

 
/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
  .hole, .mole {
      
      width: 35px;
      height: 35px;
      
  }
}



.hole.show .mole {
  top: 0;
  animation: pop-in 1s forwards;
}



/*start button styling*/

#start {
  background-color: #09944f; /* fusia */
  color: white;
  border: none; /* Remove default button border */
  padding: 15px 32px; /* Add some padding */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove default underline */
  display: inline-block;
  font-size: 16px;
  transition: all 0.5s ease;
  cursor: pointer; /* Change the cursor when hovering over the button */
  box-shadow: 0 0 10px #f706b7, 0 0 20px #ff6347; /* Apply a basic glow effect */
  border-radius: 25px;
}

#start:hover {
  background-color: #ff4500; /* Orangered - you can choose any color */
  transform: scale(1.1); /* Increase the size of the button a bit */
  box-shadow: 0 0 15px #ff6347, 0 0 25px #ff6347, 0 0 35px #ff6347, 0 0 45px #ff6347; /* Increase the glow effect */
}

#start:active {
  transform: scale(0.9); /* Decrease the size of the button a bit when clicking on it */
}




/*gradient for background pop*/
html {
  position: relative;
  background: url('https://github.com/Thinkful-Ed/js-dev-final-capstone-starter/blob/main/assets/background.png?raw=true') no-repeat center center fixed;
  box-sizing: border-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index:0;
  overflow: hidden;
  cursor: url('../assets/hammer.png'), auto;
}

html::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #0d57f6, #f5b30c, #faf9fb);
  opacity: 0.4;
  z-index: -5;
  animation: Gradient 10s ease infinite;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*timer animation*/
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

#timer.pulse {
  animation: pulse 1s infinite;
  display: inline-block; /* Add this to allow transform */
}


